@model Create.Models.Student
@{
    ViewBag.Title = "StudentInfo";
}

<h2>StudentInfo</h2>
<h3>Name: @Model.Name</h3>
<h3>NID: @Model.NID</h3>
<h3>Institute: @Model.Institute</h3>
<h3>CGPA: @Model.cgpa</h3>
<h3>Blood Group: @Model.BG</h3>
